@model IEnumerable<ElmiraFireRecall.Models.MessageHistory>

@{
    ViewData["Title"] = "Message History";
    ViewData["IsIndex"] = true;
    ViewData["HideButtons"] = true;
}

<partial name="_PageHeaderPartial" />
<table class="table">
    <thead>
        <tr>
            <th>
                Message Type
            </th>
            <th>
                Subject
            </th>
            <th>
                Message
            </th>
            <th>
                Send Date
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MessageType.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
        </tr>
}
    </tbody>
</table>
