@model ElmiraFireRecall.Models.User

@{
    ViewData["Title"] = "Edit User";
}

<partial name="_PageHeaderPartial" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Network User ID</label>
                <input readonly asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-Mail Address</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRole" class="control-label">User Role</label>
                <select asp-for="UserRole" class="form-select" asp-items="@Html.GetEnumSelectList<UserRole>()">
                    <option disabled>Select a Role</option>
                </select>
                <span asp-validation-for="UserRole" class="text-danger"></span>
            </div>

            <div class="col-md-10 mt-3">
                <div class="card">
                    <div class="card-header">User Roles</div>
                    <div class="card-body pb-0 pt-1" style="font-size: .8em;">
                        <dl>
                            <dt>User</dt>
                            <dd>Can Send Messages</dd>
                            <dt>Administrator</dt>
                            <dd>Can Send Messages, Manage Recipients and Groups, Manage Phone Providers/Provider Text Message Extensions, View Message History, Create and Manage Users.</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
