@{
    ViewData["Title"] = "Application Error";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Error : Chemung County Reduction of Charges Request System</title>
		<link rel="stylesheet" href="~/css/bootstrap.min.css" />
		<style type="text/css">
		body
		{
			background: #212529;
		}
		.container
		{
			background: #FFF;
			border-radius: 20px;
		}
		hr 
		{
			width: 75%;
			margin: auto;
			border-top: 1px solid #1c075d;
		}
		</style>
	</head>
	<body>
		<div class="container p-4 mt-5" style="max-width: 960px;">
			<div class="row align-items-center">
				<div class="col-12 col-md-3 text-center">
					<img src="~/img/cclogo.png" alt="Chemung County Logo" class="img-fluid"/>
				</div>
				<div class="col-12 col-md-9 text-center">
					<h1 class="display-6">Chemung County<br /> Fire Recall System</h1>
				</div>
			</div>
			<hr class="mt-3 mb-5"/>
			<div class="row mt-5 mb-5 justify-content-md-center">
				<div class="col-12 col-md-10 text-center">
					<h2 class="h1">Unexpected Error</h2>
					<p>There was a problem that prevented this application from running.  Please try reloading this page in a a few minutes. If the problem persists, please contact the IT Department Help Desk.</p>
				</div>
			</div>

		</div>
	</body>
</html>
