html {
  font-size: 14px;
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  
  height: 100%;
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    max-width: 20px;
}
#wrapper {
    min-height: 100%;
}
.select2-results__option[aria-selected=true] {
    display: none;
}
select2-results__option--selected {
    display: none;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    display: none !important;
}
.form-group {
    margin-bottom: 0.75rem;
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

#wrapper {
    min-height: 100vh;
}

.welcome {
    text-align: center;
}

.nav-pills .nav-link.active {
    background-color: #ECC435 !important;
    color: black !important;
}

.logo {
    width: 80%;
    text-align: center;
    margin: auto;
}

.select2 {
    align-self: stretch;
}

.name-address {
    border-right: 1px solid var(--bs-border-color);
}

#sidebar {
    min-width: 320px;
}

.clickable-row:hover {
    cursor: pointer;
}

.action-bar {
    text-align: right;
}

.scroller {
    max-height: 300px;
    overflow-y: auto;
}

table td ul.list-unstyled {
    column-count: 2;
    column-gap: 30px;
}

    table td ul.list-unstyled li {
        width: fit-content;
    }

.form-label {
    margin-top: 18px;
    margin-bottom: 5px;
}

#changelog {
    margin-left: 2rem;
}

    #changelog h2:first-child {
        border-top: 0;
        margin-top: 1rem;
    }

    #changelog h2 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: -2rem;
        border-top-width: 1px;
        border-top-style: solid;
        border-color: var(--bs-border-color);
        padding-top: 1.5rem;
    }

    #changelog h3 {
        color: rgba(0,0,0,.5);
    }

svg.bi {
    vertical-align: -0.125em;
}

.card.reject {
    background-color: var(--bs-danger-bg-subtle);
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

.btn-outline-warning {
    color: #FF6600;
    border-color: #FF6600;
}

    .btn-outline-warning:hover {
        background: #FF6600;
        color: #FFF;
        border-color: #FF6600;
    }

table .btn-sm, table .btn-sm {
    margin-bottom: .25rem;
}
.form-group .btn.btn-primary {
    margin-top: 1rem;
}