@{
    ViewData["Title"] = "Home Page";
}

<h1 class="mb-3">Send Message</h1>

<div class="mt-3">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="testTab" href="#" data-bs-toggle="collapse" data-bs-target="#testAlert">Recall System Test</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="emergencyTab" href="#" data-bs-toggle="collapse" data-bs-target="#fireRecall">Fire Recall Emergency</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="emoTab" href="#" data-bs-toggle="collapse" data-bs-target="#emo">EMO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="miscTab" href="#" data-bs-toggle="collapse" data-bs-target="#misc">Misc.</a>
        </li>
    </ul>

    <div id="parentContainer" class="mt-2">
        <div id="testAlert" class="collapse show p-3" data-bs-parent="#parentContainer">
            <form>
            <div class="mb-3">
                
                <label for="testAlertMessage" class="form-label">Additional Message</label>
                <textarea class="form-control" id="testAlertMessage" name="message" placeholder="Enter an additional message here." rows="10"></textarea>
            </div>

                <div class="mb-3 text-end">
                    <div class="d-grid">
                        <input type="submit" class="btn btn-lg btn-primary" value="Send the Test Message" />
                    </div>
                </div>
        </form>
        </div>
        <div id="fireRecall" class="collapse alert-danger p-3" data-bs-parent="#parentContainer">
         <form>
            <div class="mb-3">
                    <label for="fireRecallMessage" class="form-label">Additional Message</label>
                    <textarea class="form-control" id="fireRecallMessage" name="message" placeholder="Enter an additional message here." rows="10"></textarea>
            </div>
                <div class="mb-3 text-end">
                    <div class="d-grid">
                        <input type="submit" class="btn btn-lg btn-danger" value="Send Message"/>
                    </div>
                </div>
         </form>
        </div>
        <div id="emo" class="collapse p-3" data-bs-parent="#parentContainer">
            <form>
                <div class="mb-3">
                    <label for="emoTo" class="form-label">To:</label>
                    <select class="form-select" id="emoTo" name="to"></select>
                </div>

                <div class="mb-3">
                    <label for="emoSubject" class="form-label">Subject:</label>
                    <input type="text" class="form-control" id="emoSubject" name="subject" placeholder="Message Subject (Optional)"></input>
                </div>

                <div class="mb-3">
                    <label for="fireRecallMessage" class="form-label">Additional Message</label>
                    <textarea class="form-control" id="fireRecallMessage" name="message" placeholder="Enter an additional message here." rows="10"></textarea>
                </div>
                <div class="mb-3 text-end">
                    <div class="d-grid">
                        <input type="submit" class="btn btn-lg btn-primary" value="Send Message" />
                    </div>
                </div>
            </form>
        </div>
        <div id="misc" class="collapse p-3" data-bs-parent="#parentContainer">
            <form>
                <div class="mb-3">
                    <label for="emoTo" class="form-label">To:</label>
                    <select class="form-select" id="emoTo" name="to"></select>
                </div>

                <div class="mb-3">
                    <label for="emoSubject" class="form-label">Subject:</label>
                    <input type="text" class="form-control" id="emoSubject" name="subject" placeholder="Message Subject (Optional)"></input>
                </div>

                <div class="mb-3">
                    <label for="fireRecallMessage" class="form-label">Additional Message</label>
                    <textarea class="form-control" id="fireRecallMessage" name="message" placeholder="Enter an additional message here." rows="10"></textarea>
                </div>
                <div class="mb-3 text-end">
                    <div class="d-grid">
                        <input type="submit" class="btn btn-lg btn-primary" value="Send Message" />
                    </div>
                </div>
            </form>
    </div>
    </div>


</div>
<script>
    var currentTab = '';
    const myCollapsible = document.getElementById('parentContainer')



    myCollapsible.addEventListener('show.bs.collapse', event => {
        currentTab = event.target.id;
        const testTab = document.getElementById('testTab')
        const emergencyTab = document.getElementById('emergencyTab')
        const emoTab = document.getElementById('emoTab')
        const miscTab = document.getElementById('miscTab');

        switch (event.target.id) {
            case 'testAlert':
                testTab.classList.add('active');
                emergencyTab.classList.remove('active');
                emoTab.classList.remove('active');
                miscTab.classList.remove('active');
                break;
            case 'fireRecall':
                testTab.classList.remove('active');
                emergencyTab.classList.add('active');
                emoTab.classList.remove('active');
                miscTab.classList.remove('active');
                
                break;
            case 'emo':
                testTab.classList.remove('active');
                emergencyTab.classList.remove('active');
                emoTab.classList.add('active');
                miscTab.classList.remove('active');
                break;
            case 'misc':
                testTab.classList.remove('active');
                emergencyTab.classList.remove('active');
                emoTab.classList.remove('active');
                miscTab.classList.add('active');
            break;
        }    
        
        
        


    })


</script>